<div class="nested-fields">
  <div class="card mb-3">
    <div class="card-body">
      <div class="mb-3">
        <%= f.label :vehicle_name, class: 'form-label' %>
        <%= f.select :vehicle_name, Vehicle.vehicle_names.keys.map { |v| [v.humanize, v] }, {}, class: 'form-select' %>
      </div>
      <div class="mb-3">
        <%= f.label :capacity, class: 'form-label' %>
        <%= f.number_field :capacity, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :hourly_rate, class: 'form-label' %>
        <%= f.number_field :hourly_rate, class: 'form-control' %>
      </div>

      <div class="d-flex justify-content-between">
        <div class="mb-3">
          <%= f.label :status, class: 'form-label' %>
          <%= f.check_box :status, class: 'form-check-input' %>
        </div>

        <%# Using JavaScript to remove for interactivity  %>
        <div class="mb-3">
          <%= f.hidden_field :_destroy %>
          <%= link_to 'Remove', '#', class: 'btn btn-danger remove-fields' %>
        </div>
      </div>

      <%# Withou JavaScript to remove %>
      <%#= f.label :_destroy, 'Remove Vehicle'%>
      <%#= f.check_box :_destroy%>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
      // Handle dynamic field removal.
      document.body.addEventListener('click', function(event) {
        if (event.target.classList.contains('remove-fields')) {
          event.preventDefault();

          // Find the parent element to remove
          const nestedFields = event.target.closest('.nested-fields');

          if (nestedFields) {
            // Mark the hidden _destroy field as true
            nestedFields.querySelector('input[type="hidden"]').value = '1';
            // Hide the nested fields (you can also remove it from DOM if needed)
            nestedFields.style.display = 'none';
          }
        }
      });
    });
</script>
