<div class="container mt-4">
  <h1>Park Vehicles for <%= @park_space.name %></h1>
  <%= link_to 'New Park Vehicle', new_park_space_park_vehicle_path(@park_space), class: "btn btn-primary mb-3" %>

  <% if @park_vehicles.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Vehicle Name</th>
          <th>Vehicle Number</th>
          <th>Hourly Rate</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Cost</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @park_vehicles.each do |park_vehicle| %>
          <tr>
            <td><%= park_vehicle.vehicle_name %></td>
            <td><%= park_vehicle.vehicle_number %></td>
            <td><%= park_vehicle.hourly_rate %></td>
            <td><%= park_vehicle.starts_at %></td>
            <td><%= park_vehicle.ends_at %></td>
            <td><%= number_to_currency(park_vehicle.cost) %></td>
            <td><%= park_vehicle.status ? 'Active' : 'Inactive' %></td>
            <td>
              <%= link_to 'Edit', edit_park_space_park_vehicle_path(@park_space, park_vehicle), class: "btn btn-warning btn-sm" %>
              <% if !park_vehicle.status %>
                <%= link_to 'Delete', park_space_park_vehicle_path(@park_space, park_vehicle), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-info" role="alert">
      No park vehicles found.
    </div>
  <% end %>
</div>
